/* ExpenseItem.css */

.increase-button {
    background-color: #4caf50; /* Green */
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
  }
  
  .decrease-button {
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
  }
  